.feynman {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  position: relative;

  min-height: 890px;

  background: #f2f2f2 url("../../images/feynman.png") left bottom / 867px 637px
    no-repeat;
}
